body {
  background-color: #ddd;
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
}

/* HEADER, NAV, FOOTER e alguns estilos do BODY em general.css */

/*************** MAIN ***************/
main {
  background-color: #bebdbd;
  margin-bottom: 5px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4px;

  text-align: center;
}

#anuncio>img {
  height: 15rem;
  width: auto;
}

ul>li {
  text-align: justify;
  display: block;
}

h3 {
  color: #2a428c;
}

input,
textarea {
  width: 90%;
  margin-bottom: 20px;
  padding: 0.4rem;
  outline: none;

  border: 0.5px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

#botaoInteresse {
  background-color: #02182B;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 90%;
  padding: 0.4rem;

  color: #bebdbd;

  outline: none;
}