body {
  background-color: #ddd;
  line-height: 1.5;

  font-family: "Helvetica";
  color: #444;

  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

main {
  background-color: white;

  border-radius: 10px;
  padding: 15px;
}

h1,
h2 {
  color: rgb(140, 76, 8);
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}