body {
  background-color: #ddd;
  line-height: 1.5;

  font-family: "Helvetica";
  color: #444;

  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

header {
  background-color: white;

  border-radius: 10px;
  padding: 15px;

  text-align: center;
}

.navHorizontalList {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

ul>li {
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

main {
  background-color: white;
  padding: 15px;

  border-radius: 10px 10px 0 0;
}

footer {
  background-color: white;

  border-radius: 0 0 10px 10px;
  text-align: center;
  margin-top: 0px;
  padding-top: 5px;
  border-top: solid 1px gray;
}

h1,
h2 {
  color: rgb(140, 76, 8);
}

#firstSection {
  border-top: none;
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}

input:invalid+span::after {
  content: '✖';
  color: red;
}

input:valid+span::after {
  content: '✔';
  color: limegreen;
}

#headerTitle {
  font-variant: small-caps;
}

footer address {
  padding: 15px;
}

#headerTitle,
footer address,
h2+p,
a:link,
a:visited {
  color: rgb(87, 47, 5);
}

a:link,
a:visited {
  text-decoration: none;
}

li:hover {
  background-color: gray;
  border-radius: 5px;
}

:is(table, td, tr):has(img) {
  padding: 5px;
}

fieldset:first-child {
  color: green;
  
}

legend:first-of-type {
  color: rgb(87, 47, 5);
}


